---
import Layout from '@layouts/Neovim.astro';
import { basics } from "@cv";

const { name } = basics;
---

<Layout title={`${name} - NEOVIM`}>
  <div class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-4xl font-bold mb-8 text-nvim-blue">Welcome to my keyboard friendly portfolio</h1>
    <div class="text-center w-1/3">
      <p class="mb-4">version 0.0.1</p>
      <p class="mb-2">Neovim mode</p>
      <a href="https://github.com/ArielFalcon" class="hover:underline text-nvim-blue hover:text-blue-800">Ariel G Falcón</a>
      <div class="py-8 text-nvim-green text-left hero-content">
        <p>
          <span>type  :about<span class="text-nvim-blue">&lt;Enter&gt;</span></span>
          <span><span>to view about information</span></span>
        </p>
        <p>
          <span>type  :proj<span class="text-nvim-blue">&lt;Enter&gt;</span></span>
          <span>to view personal projects</span>
        </p>
        <p><span>type  :contact<span class="text-nvim-blue">&lt;Enter&gt;</span></span>
          <span>to view contact details</span>
        </p>
        <br />
        <p>
          <span>type  /<span class="text-nvim-blue">&lt;Search term&gt;</span></span>
          <span>to search posts</span>
        </p>
        <br />
        <p>
          <span>type  :h<span class="text-nvim-blue">&lt;Enter&gt;</span></span>
          <span>to view the <a href="neovim/help" class="underline text-nvim-blue hover:text-blue-800">help</a> page</span>
        </p>
        <p>
          <span>type  :b<span class="text-nvim-blue">&lt;Enter&gt;</span></span>
          <span>to toggle the <span class="text-nvim-blue">key-bindings</span> pop-up</span>
        </p>
        <p>
          <span>type  :q<span class="text-nvim-blue">&lt;Enter&gt;</span></span>
          <span>to exit</span>
        </p>
      </div>
    </div>
  </div>
</Layout>

<style>
  .hero-content p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
  }
</style>
