---
import { Icon } from 'astro-icon/components';
---

<div class="print:hidden">
	<a href="/neovim" class="group transition-all duration-300 delay-75 hover:bg-nvim-green/50 cursor-default border-nvim-green/60 text-skin-hue flex place-content-center items-center gap-4 border-solid border px-3 py-2 backdrop-blur-sm/60 md:max-w-max hover:px-8 hover:py-0.5">
		<Icon name="simple-icons:neovim" width={28} height={28} color={'#87d787'} class='group-hover:text-nvim-blue group-hover:brightness-150 transition-all duration-300 group-hover:scale-75'></Icon>
		<span class="font-bold text-lg text-skin-nvim font-mono group-hover:brightness-150 transition-all duration-300 text-nvim-green">Neovim Mode</span>
	</a>
</div>
