---
import { Icon } from 'astro-icon/components';
---

<div>
	<a href="/neovim" class="group transition-all duration-500 hover:bg-nvim-green/50 cursor-default bg-transparent border-nvim-green/60 text-skin-hue flex place-content-center items-center gap-4 border-solid border rounded-lg px-3 py-2 backdrop-blur-sm/60 md:max-w-max hover:rounded-none">
		<Icon name="simple-icons:neovim" width={28} height={28} color={'#87d787'} class='group-hover:text-nvim-blue group-hover:brightness-150 transition-all duration-500'></Icon>
		<span class="font-bold text-lg text-nvim-blue font-mono group-hover:brightness-150 transition-all duration-500">Neovim Mode</span>
	</a>
</div>
